# Node.js
node_modules/

# React build artifacts
build/
dist/
.cache/
*.log

# Dependency directories
.pnp/
.pnp.js



# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Logs
logs
*.log

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# npm package files
package-lock.json
yarn.lock
